<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  {% if projects %}
    <ul class="projects">
    {% for project in projects %}
      <li>
        <h2>{{ project.title }}</h2>
        {% if project.image %}
          <img src="{{ project.image }}" alt="Picture for {{ project.title }}">
        {% endif %}
        {% if project.tags %}
          <ul>
          {% for tag in project.tags %}
            <li>{{ tag }}</li>
          {% endfor %}
          </ul>
        {% endif %}
        {% if project.url %}
          <a href="{{ project.url }}" target="_blank">
            View this project
          </a>
        {% endif %}
      </li>
    {% endfor %}
    </ul>
  {% endif %}
</body>
</html>
